/* font-family: 'Poppins', sans-serif;*/

*{
    padding: 0px;
    margin: 0px;
    
    }
    
body {
    font-family: "Poppins", sans-serif;
    background: url("images/bg-intro-desktop.png") no-repeat;
    background-color: hsl(0, 100%, 74%);
    background-size: stretch;
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-align: center;
    display: flex;
    
    align-items: center;
    overflow-x: hidden;
}
    
.page-container {
    box-sizing: border-box;
    min-width: 350px;
    max-width: 1440px;
    width: 100%;
    height: 100%;    
    display: flex;
    padding: 0 1rem;
}
    
.header {
    color: white;
    align-self: center;
    text-align: left;
    flex-direction: row;
    margin-left: 10%;
}
    
h1 {
    color: white;
    white-space: pre-line;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 5rem;
}
 
p {
    color: white;
    margin: 0;
    margin-bottom: 4rem;
    padding: 0;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 0.9rem;
    opacity: 85%;
}
 
.offer {
    box-sizing: border-box;
    width: 72%;
    margin-top: 25%;
    background: hsl(248, 32%, 49%);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0px 7px 2px 0px hsl(0, 42%, 54%);
    cursor: pointer;}

.offer span {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0 3rem;
    font-weight: 400;
    font-size: 0.9rem;}

 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    margin: 2rem 6rem;
    border-radius: 0.5rem;
    box-shadow: 0px 7px 2px 0px hsl(0, 36%, 42%);}

input:first-of-type {
    margin-top: 1.5rem;}

input {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    width: 85%;
    height: 3rem;
    margin-top: 1rem;
    padding-left: 1rem;
    border: 1px solid hsl(246, 25%, 77%) ;
    border-radius: 0.2rem;}
    
input:focus {
    border: 1px solid black;
}
    
.btn-submit {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    box-sizing: border-box;
    width: 85%;
    background: hsl(154, 59%, 51%);
    border: none;
    box-shadow: 0px 1px 1px 3px hsl(154, 49%, 45%);
    color: white;
    cursor: pointer;
}
    
form p {
    font-size: 0.7rem;
    color: hsl(246, 25%, 77%);
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}
    
form a {
        color: hsl(0, 100%, 74%);
        font-weight: 700;
}
    
    
    @media screen and (max-width: 720px) {
    
        body {
            background-image: url("images/bg-intro-mobile.png");
            background-repeat: repeat;
            background-size: auto 50rem;
            background-clip: border-box;
            overflow-y: scroll;
        }
    
        .page-container {
            flex-direction: column;
            height: 100vh;
            align-items: center;
            justify-content: center;
            
            
        }
    
        .header {
            width: 49%;
            max-width: 30rem;
            text-align: left;
            padding-right: 1rem;
            flex-direction: column;
            margin-top: 100%;
            
        }
        p {
            margin-top: 0;
        }
        .offer {
            justify-content: center;
            margin-top: 0;
            
        }
    
        .form-container {
            width: 100vw;
            max-width: 35rem;
            align-items: flex-start;
        }
    
        form {
            padding: 1rem 0;
        }
    
        h1 {
            font-weight: 700;
            font-size: 3rem;
            line-height: 3.5rem;
        }
    
        
    }
    